.Container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns:  1fr 1fr;
  column-gap: 50px;
}

.PageTitle {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto 0;
}